@font-face {
        font-family: "Minecraft";
        src: url("./assets/fonts/Minecraft.ttf") format("truetype");
      }
body {
  box-sizing: border-box;
  margin: 0;
  background: radial-gradient(circle, #1a002b, #000);
  color: white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: rgba(10, 0, 20, 0.8);
  border-bottom: 1px solid #9333ea;
  position: sticky;
  font-family: 'Minecraft';
  top: 0;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 35px;
}
.logo span {
  font-size: 18px;
  color: #c084fc;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: 0.3s;
}
.nav-links a:hover {
  color: #c084fc;
  text-shadow: 0 0 8px #9333ea;
}
